.fa-microphone{
    color: white;
    cursor: pointer;
    display: inline-block;
    width: 100%;
    font-size: 2.5em;
}

.bottom-right{
    border: 1px solid red;
    background-color: red;
    height: 5em;
    width: 5em;
    padding: 1.5em;
    border-radius: 50%;
    position: fixed;
    z-index: 10;
    bottom : 7em;
    left: 50%;
    right: 50%;
}

.recording{
    background-color: green;
    border: 1px solid green;
}

.recording i{
    color: white;
}